# Logs
/TRS Website/logs
/TRS Website/*.log
/TRS Website/npm-debug.log*
/TRS Website/yarn-debug.log*
/TRS Website/yarn-error.log*
/TRS Website/pnpm-debug.log*
/TRS Website/lerna-debug.log*
/TRS Website/node_modules/
/TRS Website/dist
/TRS Website/dist-ssr
/TRS Website/*.local
/TRS Website/.vscode/*
/TRS Website/!.vscode/extensions.json
/TRS Website/.idea
/TRS Website/.DS_Store
/TRS Website/*.suo
/TRS Website/*.ntvs*
/TRS Website/*.njsproj
/TRS Website/*.sln
/TRS Website/*.sw?
/Backend/media/
/Backend/media/uploads/
/Backend/venv
/myenv
