[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
django-schema-graph = '*'
python-decouple = '*'
django-cors-headers = '*'
django-extensions = '*'

[dev-packages]

[requires]
python_version = "3.11"
